<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "FOF246 - Recipe Helper" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= favicon_link_tag 'favicon-check-square-o.ico' %>
    <%= csrf_meta_tags %>
  </head>

  <div id="wrapper">
    <body>
      <div class="row">
        <header>
          <h1 class="small-12 medium-4 columns"><%= link_to image_tag("health-food-logo.jpg"), root_path %></h1>
          <section id="search" class="small-11 medium-3 columns">
            <%= form_tag(recipes_path, method: :get) do %>
              <div class="search-wrapper">
                <%= text_field_tag(:search, value = nil, options = { placeholder: "What are you hungry for?", class: "search-field" }) %>
                <%= button_tag(type: "submit", class: "search-button small-1 medium-1 columns") do %>
                <i class="material-icons">search</i>
                <% end %>          
              </div>
            <% end %>
          </section>
        </header>
      </div>
      <%= yield %>
      <footer style="background: #ec334a !important; ">
	<center><img src="http://www.faceoffitness246.com/wp-content/uploads/2017/12/PT-EmmaCa.png" style="width:250px !important;"></center>
        <p style="color:white; font-size: 14px;">&copy; FOF246 2018 | Powered by Edamam</a></p>
      </footer>
    </body>
  </div>
</html>
